*{
    margin: 0;
    padding: 0;
}

body{
    background-color:white;
    font-family: sans-serif;
}

.container-Tabata .row .col h1{
    text-align: center;
    margin: 20px 10px;
    padding: 20px;
    font-size: 40px;
    color: #ffffff;
    background-color: #FFD24A;
    border-radius: 10px;
}
.container-Tabata .row .col .btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}


.container-Tabata .row .col .btn-group p{
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 0 20px;
}
.container-Tabata .row .col .btn-group button{
    border: none;
    color: white;
    background-color: #FFD24A ;
    font-size: 20px;
    margin: 15px;
    border-radius: 5px;
    padding: 10px;
    
    
    
}



.container-Tabata .row .col .btn-group button:hover{
    border:none;
    color: #FFCA2C;
    background-color: black ;
}





        

@media screen and (max-width:360px){
    .container-Tabata .row .col .btn-group{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 15px;
        padding: 10px;
    }
    .container-Tabata .row .col .btn-group p{
        text-align: center;
        flex-wrap: wrap;
        font-size: 20px;
        margin: 0 10px;
        margin-left: auto;
        margin-right: auto;
    }

}
